/target
/.classpath
.classpath
/.project
/.settings
/.settings/*
/bin
/bin/*
/target
/.classpath
.classpath
/.project
/.settings
/.settings/*
/bin
/bin/*
/target
/.classpath
.classpath
/.project
/.settings
/.settings/*
/bin
/bin/*
